<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EcoRecycle - Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="auth-container">

    <div class="auth-box">

        <div class="brand">
            ♻️ EcoRecycle
        </div>

        <h2>Welcome Back</h2>

        <p class="subtitle">
            Login to manage your e-waste
        </p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <!-- CREATE ACCOUNT LINK -->

        <p class="account-text">
            Don't have an account?
            <a href="{{ url_for('register') }}">
                Create Account
            </a>
        </p>

    </div>

</div>

</body>
</html>